<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>
    <h2>the total number of users are <%= count %></h2>
    <a href="/user/join">Join Us Today</a>
    
  </body>
</html>
